@import "reset.css"; /* css 초기화 파일. */
@import "component.css"; /* 색깔 코드 저장. 사용방법: var(--green) */
@import "status_footer.css"; /* 모바일 상태바와 하단의 아이콘 관련 css */
@import "rules.css";
@import "setting_rules.css";
@import "talk.css";
@import "check_list.css";
@import "calendar.css";
@import "my-page.css";
/* 위에 처럼 여기에 본인이 만든 css 파일을 추가하세요 */
/* html 파일에는 index.css 파일만 연결하면 됩니다. */
/*모바일 화면 바깥쪽 여백*/
body {
  position: relative;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 모바일 화면 크기로 고정 */
.mobile {
  position: relative;
  background-color: white;
  width: 390px;
  height: 100vh;
  border: 2px solid black;
}
